<div>

    <MudCarousel Style="height:450px; width:100%; " ShowArrows="false" ShowBullets="false" AutoCycle="false" TData="object">
        <MudCarouselItem>
            <div class="d-flex banniere" style="height:100%;width:100%;">

                <MudText Align=Align.Center Typo=Typo.subtitle1 Class="mx-auto my-auto text-white pt-16">
                    Céramique - Art de la table - Objets décoratifs
                </MudText>

                @*<MudImage Src="/assets/img/back.jpg" Style="width:100%;" ObjectFit=ObjectFit.Cover  />*@
            </div>
        </MudCarouselItem>
    </MudCarousel>

</div>
