<MudText Typo=Typo.subtitle1 Class="d-flex align-center justify-center py-8 text-white" Style="font-weight:bold">
    COLLECTIONS
</MudText>


<MudContainer MaxWidth=MaxWidth.Large Class="d-flex justify-center">

    <MudGrid>
        <MudItem xs=12 sm=12 lg=6 Class="d-flex justify-center">
            <MudImage Src="assets/photos_collection/gres-saint-amand.jpg" ObjectFit=ObjectFit.None Class="rounded-lg" />
        </MudItem>
        <MudItem xs=12 sm=12 lg=6>
            <MudStack>
                <MudText Class="text-white" Typo=Typo.subtitle2>
                    <p>GSA T40 - Grès de Saint-Amand-en-Puisaye</p>
                </MudText>
                <MudText Class="text-white">
                    <p>La terre naturelle à Grès de St. Amand en Puisaye, le grès du Potier ! est une terre historique dans la région de Saint Amand en Puisaye (dans le Morvan). C'est une terre utilisée par de nombreux potiers depuis 1898. Elle est très carractérisée par ces nuances de couleurs pendant tout le processus de création d'objets céramique. Passant du gris foncé quand elle est chargée en eau puis orange/rose à la première cuisson et termine beige à sa cuisson finale. Il s'agit de ma terre favorite pour son côté historique et son beige assez carractéristique</p>
                </MudText>
            </MudStack>
        </MudItem>

        <MudItem xs=12 sm=12 lg=6>
            <MudStack>
                <MudText Class="text-white">
                    <p>J300-2 - Grès rouge de Bourgogne</p>
                </MudText>
                <MudText Class="text-white">
                    <p>La terre à grès rouge de Bourgogne est une terre chamottée, cela veut dire qu'elle contient des grains de terre cuite. Cela permet de gagner en resistance sur le produit fini, mais aussi de facilité la création d'objets plus complexes. La chamotte dans la terre donne aussi du carractère sur le rendu final.</p>
                </MudText>
            </MudStack>
        </MudItem>
        <MudItem xs=12 sm=12 lg=6 Class="d-flex justify-center">
            <MudImage Src="assets/photos_collection/gres-rouge-bourgogne.jpg" ObjectFit=ObjectFit.None Class="rounded-lg"/>
        </MudItem>
    </MudGrid>

</MudContainer>