@font-face {
    font-family: 'MyWebFont';
    src: url("/fonts/brush.ttf") format("truetype");
}

.text-uppercase {
    text-transform: uppercase !important;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-white {
    color: #fff !important;
}

.text-bluenavy {
    color: #0F3F59;
}

.bg-primary {
    background-color: #0F3F59;
}

.bg-section {
    background-color: #145572;
}

.banniere {
    background-image: url("/assets/img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


@media (min-width: 0px) and (max-width: 769px) {
    .mud-typography-h1 {
        font-size: 2rem !important;
    }

    .lg-screen {
        display: none;
    }

    .sm-screen {
        display: block;
    }

    .banniere {
        background-position-y: 0px;
    }
}


@media (min-width: 769px) {
    .mud-typography-h1 {
        font-size: 2.5rem !important;
    }

    .lg-screen {
        display: block;
    }

    .sm-screen {
        display: none;
    }

    .banniere {
        background-position-y: -150px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .banniere {
        background-position-y: -100px;
    }
}


.profile-bio {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}


.text-center {
    text-align: center !important;
}


.page-section {
    padding: 40px 0px 20px 0px;
}

    .page-section .page-section-heading {
        font-size: 2.25rem;
    }

@media (min-width: 992px) {
    .page-section .page-section-heading {
        font-size: 2rem;
    }
}

.divider-custom {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .divider-custom .divider-custom-line {
        width: 100%;
        max-width: 7rem;
        height: 0.25rem;
        background-color: #0F3F59;
        border-radius: 1rem;
        border-color: #0F3F59;
    }

        .divider-custom .divider-custom-line:first-child {
            margin-right: 1rem;
        }

        .divider-custom .divider-custom-line:last-child {
            margin-left: 1rem;
        }

    .divider-custom .divider-custom-icon {
        color: #0F3F59;
        font-size: 2rem;
    }

    .divider-custom.divider-light .divider-custom-line {
        background-color: #fff;
    }

    .divider-custom.divider-light .divider-custom-icon {
        color: #fff;
    }
