@using BlazorAtelierCremazieServer.ServicesExterne

<MudContainer MaxWidth=MaxWidth.ExtraExtraLarge Style="" id="contact">

    <MudStack>

        <section class="page-section mb-0" id="collections">
            <h2 class="page-section-heading text-center text-uppercase text-white">CONTACTEZ MOI</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><img src="assets/star-black.png" alt="Star" width="35" height="35" /></div>
                <div class="divider-custom-line"></div>
            </div>
        </section>


        <MudContainer MaxWidth=MaxWidth.Medium>

            <MudForm>

                <MudGrid Class="">
                    <MudItem xs=12 sm=12 lg=12>
                        <MudCard Elevation=0>
                            <MudCardContent>
                                <MudTextField Label="Nom / Prénom" @bind-Value="contact.Name" For="@(() => contact.Name)" aria-label="Name" />
                                <MudTextField Label="Email" Class="mt-3" @bind-Value="contact.Email" For="@(() => contact.Email)" aria-label="Email" />
                                <MudTextField Label="Numéro de téléphone" Class="mt-3" @bind-Value="contact.Telephone" For="@(() => contact.Telephone)" aria-label="Telephone" />
                                <MudTextField Label="Message" Class="mt-3" @bind-Value="contact.Message" For="@(() => contact.Message)" Lines=5 aria-label="Message" />
                            </MudCardContent>

                            <MudCardActions>
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick=SumbitFormContact aria-label="Envoyer le message">Envoyer</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </MudForm>

        </MudContainer>

    </MudStack>
</MudContainer>
